{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
	<title>{% block title %}My Blog{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="kısa ve öz google açıkla sitede ne oldunu" />
	<meta name="keywords" content="googlede çıkmasını istedin kelimeler" />
	<meta name="googlebot" content="noarchive" />
	<meta name="Revisit-After" content="1 days" />
	<meta name="robots" content="index,follow" />
	<meta name="copyright" content="© Create Burak BOZ" />
	<meta name="author" content=" Burak BOZ " />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="shortcut icon" href="#"/>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript">
		$(function(){
			$(".responsivemenu").click(function(){
				$(this).next("ul").toggle();
			});
		});
	</script>
</head>
<body>
	<div class="resnavbar">
		<div class="responsivemenu">
		<img src="{% static 'img/header/logo.png' %}" alt="logo burada">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>
		<ul>
			<a href=""><li>Home Page</li></a>
			<a href=""><li>Work</li></a>
			<a href=""><li>Contact</li></a>
		</ul>
	</div>
	<header><!-- header start -->
		<div id="anaheader">
			<div class="logo">
				<img src="{% static 'img/header/logo.png' %}" alt="logo burada">
			</div>
			<div class="navbar">
				<ul>
					<li><a href="">Home Page</a></li>
					<li><a href="">Work</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="al">
		</div>
	</header><!-- header finish -->

    {% block body %}

    {% endblock %}


</body>
</html>